/* CSS Document */
/* login.css */

body {
	text-align: center;
	margin: 0;
}

#container {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(172, 198, 203, 0.3) 0%, rgba(172, 198, 203, 0.42) 34%, rgba(116, 153, 162, 0.65) 100%) repeat scroll 0 0;
	height: 100%;
	position: absolute;
	width: 100%;
}

#intro {
	margin: 10px;
	font-weight: bolder;
}

form {
	background-color: #dcbe7b;
	/*top: 40%; */
	position: relative;
	padding: 5px;
}

label {
	font-weight: bold;
}

input {
	margin: 5px;
}

#message {
	color: red;
	font-weight: bolder;
}